.container {
  position: absolute;
  top: 0;
  left: -10px;
}

.me {
  position: absolute;
  top: 16px;
  left: 100px;
  width: 300px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.position {
  font-size: 14px;
}

.social {
  list-style-type: none;
}

.social li {
  border: solid 1px #E0E0E0;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 2px;
}

.social li:first-child a {
  color: #0077B5;
}

.social li:nth-child(2) a {
  color: #000;
}

.social li:last-child a {
  color: #55acee;
}
